<%-include('partials/header');-%>

<h1 class="search-head">SEARCH BLOG HERE.</h1>
<div class="search-div">
 <form class="search-bar" action="/personalize" method="post">
    <input type="text" name="search">
    <button class="m btn btn-primary" type="submit">Search</button>
 </form>
</div>


<div class="blog" style="height:400px;
position: relative;
top: 3rem;
margin: auto;
        width: 500px;
        height: 200px;
        display: flex;
        max-height: 500px;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px grey;">
        
    <h3 class="headingHome"> <%=title%> </h3>
     
    <p><%=blog%> 
        
        </p>
</div>